@(message: String,sr:List[models.SendRecord],pg:models.Page)
@import utils.StringUtils
@main(message) {
<script>
$(document).ready(function(){
		$(".nav li").removeClass("active");
		$("#sli").addClass("active");
})
</script>    
<!-- Example row of columns -->
      <div class="row-fluid">
          <table class="table table-hover">
              <thead>
              <tr>
                  <th>#</th>
                  <th>请求发送的IP</th>
                  <th>Email</th>
                  <th>发送状态</th>
                  <th>日期</th>
              </tr>
              </thead>
              <tbody>
              @for(i <- 0 to sr.size()-1){
              <tr>
                  <td>@(i+1)</td>
                  <td>@sr.get(i).remote_ip</td>
                  <td>@sr.get(i).email</td>
                  <td><span class="label label-success">成功</span></td>
                  <td>@sr.get(i).create_at</td>
              </tr>
              }
              </tbody>
          </table>
      </div>
      <div class="row-fluid">
              @page(pg)
      </div>
}